


  <div>
    <div class="header" >
      <h1>Orders</h1>
    </div>
    
    <div>
     
     
         <form action="/paid" method="POST">
     <h2>#{{ID}} Status: {{CustomerStatus}} R{{totals}}<button class="btn btn-med" value="pay" name="paid" >{{action}}</button></h2></form>
      {{!-- <h2 id="collect">#{{ID1}} Status:  R{{totals}}<button class="btn btn-med" value="Collect" name="Collect"  id="collect" >Collect</button></h2>
       <h2 style="display:none">#{{ID}} Status: Collected R{{totals}} </li></a></h2> --}}
   

     
  
    </div>

<hr>
<a href="/">Home</a>

<div>

  <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>


</div>
